---
title: Links
layout: default

links:
    - name: YouTube
      href: https://youtube.com/@pureasbestos
      icon: assets/img/social/youtube.svg

    - name: Mastodon
      href: https://mastodon.gamedev.place/@pureasbestos
      icon: assets/img/social/mastodon.svg

    - name: Bluesky
      href: https://bsky.app/profile/pureasbestos.bsky.social
      icon: assets/img/social/bluesky.svg

    - name: GitHub
      href: https://github.com/pureasbestos
      icon: assets/img/social/github.svg

    - name: Itch.io
      href: https://pureasbestos.itch.io
      icon: assets/img/social/itchio.svg

    - name: Ko-Fi
      href: https://ko-fi.com/pureasbestos
      icon: assets/img/social/kofi.svg

    - name: SoundCloud
      href: https://soundcloud.com/pureasbestos
      icon: assets/img/social/soundcloud.svg

    - name: Twitter
      href: https://twitter.com/pureasbestos
      icon: assets/img/social/twitter.svg

---

<style type="text/css">

    .social-links {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    a.social-link {
        height: 5rem;
        padding: 1.2rem;
        font-size: 1.5rem;
        font-family: var(--title-font);
        color: var(--primary-text-color);
        text-decoration-line: none;

    }
    a.social-link:link {
      text-decoration-line: none;
      background: var(--fresh-interact-color);
    } a.social-link:hover {
      text-decoration-line: none;
      background: var(--hover-interact-color);
    } a.social-link:active {
      text-decoration-line: none;
      background: var(--active-interact-color);
    } a.social-link:visited:hover {
        color: var(--primary-text-color);
    }

    svg {
        width: 5rem;
        height: 5rem;}
    path {
        fill: var(--primary-text-color) !important;
    }

    .social-link-text-box {
        position: absolute;
        height: inherit;
        align-content: center;
        display: inline-block;
    }
    .social-link-text {
        margin: 1rem;

</style>


<div class="social-links">
{% for link in page.links %}
    <a class="social-link" href="{{link.href}}" title="{{link.name}}">
        {% include_relative {{link.icon}} %}
        <div class="social-link-text-box">
            <span class="social-link-text">{{link.name}}</span>
        </div>
    </a>
{% endfor %}