@import "theme-colors.css";
@import "fonts.css";
@import "syntax-highlight.css";

html {
  background-color: var(--primary-bg-color);
  color: var(--primary-fg-color);
}

body {
  border: solid red 3px;
  width: auto;
  max-width: 80rem;
  height: auto;
  /*      top right bottom left  */
  margin: 0px calc(max(80rem, 100vw) - 80rem) 0px calc(max(80rem, 100vw) - 80rem);
  padding: 1rem;
}

header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 5px 25px 30px 25px;
  border: solid 3px blue;
}

article {
  padding: 50px;
  border: solid 3px green;
  font-family: 'Lato', sans-serif;
}

pre {
  font-family: 'Courier New', monospace;
  font-size: 1em;
}

main.notfound {
  text-align: center;
  padding: 50px;
  border: solid 3px green;
  font-family: 'Lato', sans-serif;
}

.notfound h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4em;
}